images/*
tables/*
__pycache__/*
pyproject.toml
poetry.lock
images.zip
all_solutions.txt
anal.txt
compare.txt
file1.txt
file2.txt
image_name.jpg
img_lemon.jpg
movie.mp4
scramble.png
scramble.txt
leaderboard.txt
prettylb.txt
smartboard.txt
templates/egg.html
templates/index.html
movie.avi
movie.webm
