/*============[ BASIC/GLOBAL STYLING ]============*/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&family=Lato:wght@700;900&display=swap");

* {
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(63, 72, 83);
}

.results-table {
    color: rgb(220, 220, 220);
    padding-top: 60px;
    width: 100%;
    margin: auto;
}

table {
    display: block;
    width: 100%;
    margin: auto;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #df5d5d;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 38, 38);
}

::-webkit-scrollbar-thumb:active {
    background: #7a1818;
}

/*============[ DATE SELECTOR ]============*/

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: rgba(43, 48, 54);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.date-button {
    width: 100%;
    background-color: rgba(43, 48, 54);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    color: white;
    transition: .1s ease-out;
}

.date-button:hover {
    background-color: rgba(37, 42, 46);
    transition: .1s ease-in;
}

.d-calendar * {
    font-size: 20px;
}

.menu-icon {
    /* whole menu icon */
    cursor: pointer;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-top: 15px;
}

.menu-icon div {
    /* parts of the menu icon */
    width: 30px;
    height: 6px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

/*============[ STICKY ROW (eg: Gamma + requirements + events) ]============*/

/* setting up the size of the cells */

.req-row td,
.events-row td,
.player-row td {
    height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.events-row {
    height: 40px;
}

/* tier row */

thead tr:first-child {
    width: 100%;
    height: 50px;
}

thead tr:first-child td {
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.5em;
}

/* sticky for each tier*/

.sticky {
    position: sticky;
    top: 60px;
    z-index: 1;

    left: 0;
    background-color: #1b1e24;
}

/*============[ LITTLE ADJUSTMENTS, COLORS ]============*/

/* text color to black for tables */
table .player-row {
    color: black;
}

/* text's style of the requirement times */
.req-row td {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 1.05em;
    letter-spacing: .5px;
}

/* scores' style */
.player-row td:nth-child(n+4) {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

/* text's style of the player's name */
.player {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    min-width: 100px;
    max-width: 100px;
}

/* text's style of place & power */
.player-power,
.player-place {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 1.05em;
}

/* player's row height */
.player-row,
.player,
.player-place,
.player-power {
    height: 40px;
}

/* every two lines, player's name/place/power is darker */
.player-row:nth-child(even) {
    opacity: 0.9;
}

[tier="gamma"]       { background-color: #00ffff; }
[tier="aleph"]       { background-color: #00ff2a; }
[tier="ascended"]    { background-color: #ff2262; }
[tier="nova"]        { background-color: #7900ff; }
[tier="grandmaster"] { background-color: #ffd700; }
[tier="master"]      { background-color: #ec44ca; }
[tier="diamond"]     { background-color: #b9f2ff; }
[tier="platinum"]    { background-color: #2fcfc2; }
[tier="gold"]        { background-color: #cab148; }
[tier="silver"]      { background-color: #cbd9e6; }
[tier="bronze"]      { background-color: #b45f06; }
[tier="beginner"]    { background-color: #93c47d; }
[tier="unranked"]    { background-color: #666666; }
